.tiles
  %a.tile.icon.bg-color-green(href='/auth/twitter')
    .tile-content
      %h1.icon-large.icon-twitter
    .brand
      .name
        Login with Twitter

  %a.tile.icon.bg-color-green(href='/auth/google_oauth2')
    .tile-content
      %h1.icon-large.icon-google
    .brand
      .name
        Login with Google
